.portfolio .container {
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 883px;
}

.portfolio .portfolio-title {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #000;
    margin-bottom: 8px;
}

.portfolio .portfolio-text {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #5c5a5a;
}

.portfolio .second-container {

    margin-top: 58px;
    margin-bottom: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .img-first {
    margin-right: -50px;
}

.portfolio .img-second {
    z-index: 2;
}

.portfolio .img-third {
    margin-left: -50px;
}